.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */



/* Description */

/* Digits */

.digits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.table__text:last-child {
  margin: 0;
}

/* Feynman */

.feynman {
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  text-align: center;
  z-index: 1;
  margin: 100px 0 0 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  text-align: center;
  text-decoration: none;
}

/* Kaufman */

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: 877px 877px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
}

/* Footer */

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}

.footer__columns {
  display: flex;
  margin-bottom: 40px;
  margin-top: 60px;
  justify-content: space-between;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0;
  margin: 0 0 20px 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  justify-content: center;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0 10px 0 0;
}
