.khan__buy-link {
  margin: 0;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
}

.khan__buy-link:hover {
  color: rgba(47, 128, 237, 0.7);
  transition: opacity 3s ease-in;
}
